<html>
  <head>
    <title>Placeholder title</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div ng-app="rpgApp" ng-controller="mainController">
      <div><span>{{mob.name}} Health: {{mob.health}}</span></div>
      <console console-name="combat"></console>

      <button type="button" class="btn btn-primary" ng-click="handleAttack('swing')">Swing</button>
      <button type="button" class="btn btn-primary" ng-click="spawnMob()">Spawn</button>
    </div>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/sprintf-js/dist/sprintf.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>


    <script src="main.js"></script>
    <script src="console.js"></script>
    <script src="consoleService.js"></script>
    <script src="itemFactory.js"></script>
    <script src="mobFactory.js"></script>
    <script src="rpgService.js"></script>
  </body>
</html>