
.main-console-display {
  border: 1px solid lightgray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 5px 10px;
  padding: 2px;
  max-height: 200px;
  overflow: auto;
  background-color: black;
  color: rgba(255, 255, 255, 0.849);
}

.main-console-entry {
  display: flex;
}

.main-console-msg-time {
  font-weight: bold;
}

.main-console-msg-text {
  margin-left: 15px;
}

.combat-text-normal {
  color: lightgray;
}
.combat-text-red {
  color: red;
}
.combat-text-blue {
  color: rgb(60, 60, 255);
}

.combat-text-italic {
  font-style: italic;
}

.combat-text-link-gray {
  color: gray;
  cursor: default;
}

.combat-text-link-white {
  color: white;
  cursor: default;
}

.combat-text-link-green {
  color: rgb(0, 209, 0);
  cursor: default;
}
.combat-text-link-blue {
  color: #6f6fff;
  cursor: default;
}
.combat-text-link-purple {
  color: rgb(224, 0, 224);
  cursor: default;
}